.table {
  border-collapse: collapse;
  padding: 16px;
}

th,
td {
  min-width: 150px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

td {
  cursor: pointer;
}

tr {
  padding-left: 10px;
}

tr:hover td {
  background-color: grey;
}
