<table class="table">
  <thead>
    <tr>
      <th>Номер</th>
      <th style="min-width: 200px">Название</th>
      <th>Страна</th>
      <th>Режиссер</th>
      <th>Длительность</th>
      <th>Год</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of films.films">
      <td>{{ item.id }}</td>
      <td>{{ item.nameRU }}</td>
      <td>{{ item.country }}</td>
      <td>{{ item.director }}</td>
      <td>{{ item.duration }}</td>
      <td>{{ item.year }}</td>
    </tr>
  </tbody>
</table>
